.copyright{
    display: block;
    position: relative;
    padding-right: 25px;
    font-weight: 700;
}
ul.bottom_menu{
    display: flex;
    
    li{
        
        a{
            display: block;
            padding:0px 38px 0px 20px;
            color:#000;
            font-weight: 600;
            text-decoration: none;
        }
    }
}