.testimonials{
    background-image: url(../img/testimonials_background.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    padding: 72px 199px 1px;
    color:#eee;
    margin: 50px;
    margin-top: -
    81px
}
.testimonials_img{
    img{
        width: 90%;

    }

}