.tes_title{
    display: block;
    font-size: 33px;
    font-weight: 700;
    margin-top: -25px;

}
.tes_quotes{
    display: block;
    font-size: 100px;
    color: #f42267;
    font-family: sans-serif;
    margin-top: -20px;
    margin-bottom: -97px;
}
.tes_text{
    display: block;
    z-index: 2;
    padding-left: 40px;
    margin-bottom: 25px;
}
.tes_img_stars{
    padding-left: 40px;
    margin-bottom: 15px;

}
.tes_name{
    padding-left: 40px;
    margin-bottom: 25px;  
}