ul.main-menu {
  list-style: none;
  justify-content: end;
  text-transform: capitalize;
  padding-top: 40px; }
  ul.main-menu li a {
    text-decoration: none;
    padding: 0 20px; }
    ul.main-menu li a span {
      font-size: 17px;
      font-weight: 600;
      color: #fff;
      display: block;
      box-sizing: border-box;
      padding-left: 15px; }

header {
  background: url(../img/background_1.jpg) no-repeat;
  color: white; }

.logo {
  display: block;
  padding-top: 50px; }

.main_block {
  position: relative;
  padding: 20px; }

.main_block_img {
  margin-left: -310px;
  margin-bottom: -20px; }

.main-text {
  display: block;
  margin: 50px;
  padding-top: 40px; }

.italic-big {
  display: block;
  margin-bottom: 6px;
  font-size: 31px;
  font-style: italic; }

.slogan {
  display: block;
  overflow: visible;
  font-size: 48px;
  font-weight: 700;
  line-height: 50px; }

.small-text {
  font-size: 17px;
  font-weight: 600; }

.two-buttons {
  display: block;
  position: relative;
  margin-top: 50px; }

.red-button {
  display: inline-block;
  box-sizing: border-box;
  background: #f42267;
  border-radius: 35px;
  border: 2px solid #ff5990;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  width: 135px;
  height: 40px;
  margin-right: 15px; }

.purple-button {
  display: inline-block;
  box-sizing: border-box;
  background: #773491;
  border-radius: 35px;
  border: 2px solid #773491;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  width: 135px;
  height: 40px; }

.nav-link {
  color: black;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500; }

.red-button {
  display: inline-block;
  box-sizing: border-box;
  background: #f42267 !important;
  border-radius: 35px !important;
  text-align: center;
  font-weight: 500; }

.small_text {
  display: block;
  text-align: justify;
  font-size: 13px;
  line-height: 24px;
  font-weight: 500;
  padding-bottom: 40px; }

.italic_sm {
  font-size: 24px;
  font-style: italic;
  font-family: Palatino Linotype; }

.company_slogan {
  font-weight: 700;
  font-size: 40px;
  display: block;
  margin-bottom: 30px; }

.about_company {
  background: url(../img/World_Map.jpg);
  color: #000;
  padding-top: 50px;
  padding-left: 150px; }

.watch_img {
  position: relative;
  padding-top: 65px;
  padding-right: 100px;
  padding-left: 20px;
  margin-left: 75px; }

.square_red_button {
  display: block;
  box-sizing: border-box;
  text-transform: uppercase;
  color: #fff;
  background-color: #f42267;
  border-radius: 15px;
  border: 3px solid #ff5990;
  border-bottom: 10px solid #ff5990;
  height: 50px;
  width: 135px; }

.square_red_button:hover {
  background-color: #ff5990; }

.achievements {
  color: #fff;
  background: #4b2d7f; }

.ach_item {
  display: block;
  position: relative;
  padding: 50px;
  background-color: #4b2d7f; }

.ach_item_img {
  display: block;
  position: relative;
  box-sizing: border-box;
  padding-top: 30px;
  text-align: center; }

.ach_big_row {
  background: url(../img/blue_table.jpg);
  text-align: center;
  height: auto;
  padding: 0 180px; }

.dark_blue {
  display: block;
  box-sizing: border-box;
  background-color: #40286a; }

.button {
  display: flex !important;
  justify-content: center;
  padding-bottom: 70px;
  padding-top: 50px; }

.square_red_button {
  display: block;
  box-sizing: border-box;
  text-transform: uppercase;
  color: #fff;
  background-color: #f42267;
  border-radius: 15px;
  border: 3px solid #ff5990;
  border-bottom: 10px solid #ff5990;
  height: 50px;
  width: 135px; }

.square_red_button:hover {
  background-color: #ff5990; }

.ach_item_number {
  font-size: 45px;
  text-align: center;
  font-weight: 700; }

.ach_item_caption {
  display: block;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 24px; }

.ach_item_text {
  font-size: 10px;
  text-align: center;
  line-height: 20px;
  margin-top: 15px; }

.italic-big {
  display: block;
  padding-top: 25px;
  font-size: 31px;
  font-style: italic; }

.big_row_caption {
  display: block;
  font-size: 33px;
  font-weight: 700; }

.services {
  padding-bottom: 80px; }

.about_services {
  padding: 50px 80px; }

.service_item {
  display: block;
  position: relative; }

.left {
  padding-left: 73px; }

.right {
  padding-right: 79px;
  padding-left: 4px; }

.button {
  display: block;
  position: relative; }

.italic_sm {
  display: block;
  margin-bottom: -16px; }

.black_text {
  display: block;
  position: relative;
  padding-right: 65px;
  font-size: 35px;
  font-weight: 700;
  line-height: 31px;
  margin-bottom: 30px; }

.small_black_text {
  display: block;
  position: relative;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
  padding-right: 65px; }

.service_item_caption {
  font-size: 24px;
  font-weight: 600; }

.service_item_text {
  display: block;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px; }

.serv_video_img {
  display: block;
  position: relative;
  padding-top: 120px; }

.video-icon-red {
  display: block;
  position: relative;
  height: 70px;
  width: 70px;
  padding: 20px;
  border-radius: 50px;
  z-index: 1;
  background: #f42267;
  top: -263px;
  left: 244px; }

.video-icon-white {
  position: relative;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 12px 30px;
  border-color: transparent transparent transparent #eee;
  border-radius: 5px;
  margin-left: 4px; }

.recent_work {
  background: #f1f1f1;
  margin: 50px;
  padding: 80px;
  display: block;
  align-items: center; }

.recent_work_img {
  display: block;
  position: relative;
  box-sizing: border-box; }

.recent_work_menu {
  margin-bottom: 50px;
  margin-top: 30px; }

.work-menu {
  padding-left: 360px;
  padding-right: 229px; }

.recent_work_caption {
  display: block;
  position: relative;
  text-align: center;
  font-size: 35px;
  font-weight: 700; }

.recent_work_text {
  display: block;
  position: relative;
  margin-top: 20px;
  padding: 10px 240px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 24px; }

.client_logo {
  background: #4b2d7f;
  margin: 80px 50px;
  z-index: 1;
  margin-top: -50px;
  padding-bottom: 50px;
  padding: 50px 80px 50px; }

.logos {
  margin-bottom: 40px; }

.client_logo_img {
  display: block;
  width: 20%;
  padding: 10px 40px; }

.amazon {
  padding-top: 50px; }

.lenovo {
  padding-top: 30px; }

.disney {
  padding-top: 17px; }

.apple {
  padding-left: 79px; }

.testimonials {
  background-image: url(../img/testimonials_background.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  padding: 72px 199px 9px;
  color: #eee;
  margin: 50px;
  margin-top: -81px; }

.testimonials_img {
  position: relative; }
  .testimonials_img img {
    width: 88%;
    position: relative;
    margin-top: -45px; }

.tes_title {
  display: block;
  font-size: 33px;
  font-weight: 700;
  margin-top: -25px; }

.tes_quotes {
  display: block;
  font-size: 100px;
  color: #f42267;
  font-family: sans-serif;
  margin-top: -20px;
  margin-bottom: -97px; }

.tes_text {
  display: block;
  z-index: 2;
  padding-left: 40px;
  margin-bottom: 25px; }

.tes_img_stars {
  padding-left: 40px;
  margin-bottom: 15px; }

.tes_name {
  padding-left: 40px;
  margin-bottom: 25px; }

.help_block {
  background: url(../img/needhelp_background.jpg) no-repeat;
  margin: 50px;
  margin-top: -59px;
  padding: 50px 135px;
  color: #eee; }

.submit_button {
  width: 100px;
  height: 40px;
  background: #4b2d7f;
  border: 2px solid #a57ee9;
  border-radius: 8px;
  border-bottom: 4px solid #a57ee9;
  font-size: 10px;
  font-weight: 500;
  color: white;
  text-transform: uppercase; }

.submit_button:hover {
  background: #a57ee9; }

input {
  width: 350px;
  height: 40px;
  background: #f06e99;
  border: 2px solid #f42267;
  border-radius: 8px;
  font-size: 12px;
  color: white !important;
  text-transform: capitalize;
  padding-left: 20px; }

input::placeholder {
  color: white; }

.help_title {
  display: block;
  font-size: 33px;
  font-weight: 700;
  text-align: center; }

.help_caption {
  display: block;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize; }

.help_text {
  display: block;
  text-align: center;
  font-size: 14px;
  padding-bottom: 34px; }

.social_links {
  background: #4b2d7f;
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: 600;
  display: block;
  margin: 50px;
  padding: 25px 80px;
  margin-top: -50px; }

.sosial_media_links p a {
  display: block;
  box-sizing: border-box;
  border-right: 2px solid #a57ee9;
  padding: 0px 25px;
  text-decoration: none;
  color: white; }

.behance p a {
  border-right: 2px solid #4b2d7f; }

.quick_links {
  background: url(../img/World_Map.jpg);
  color: #000;
  margin: 50px;
  margin-top: -59px;
  padding: 120px 135px;
  z-index: 10; }

.company {
  display: block;
  margin: 50px 25px 20px; }

.com_title {
  font-size: 24px;
  color: #4b2d7f;
  font-weight: 700; }

ul.q-link {
  list-style: none; }
  ul.q-link li a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600; }
  ul.q-link li a:hover {
    color: #4b2d7f; }

.links_images {
  margin-top: 50px; }

.q_link_img {
  margin: 10px 0px; }
  .q_link_img img {
    width: 100%; }

.f-menu {
  background: #f6f6f6;
  padding: 20px 250px;
  z-index: 0;
  margin: 50px;
  padding-bottom: 50px;
  margin-top: -70px;
  width: 100%; }

.copyright {
  display: block;
  position: relative;
  padding-right: 25px;
  font-weight: 700; }

ul.bottom_menu {
  display: flex; }
  ul.bottom_menu li a {
    display: block;
    padding: 0px 38px 0px 20px;
    color: #000;
    font-weight: 600;
    text-decoration: none; }

/*# sourceMappingURL=main.css.map */
