.ach_item_number{
    font-size: 45px;
    text-align: center;
    font-weight: 700;
  }
  .ach_item_caption{
    display: block;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 24px;
    
  }
  .ach_item_text{
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    margin-top: 15px;
  }
  .italic-big {
    display: block;
    padding-top: 25px;
    font-size: 31px;
    font-style: italic;
  }
  .big_row_caption{
      display: block;
   
      font-size: 33px;
      font-weight: 700;
  }