.nav-link{
    color:black;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
  }
   .red-button {
    display: inline-block;
    box-sizing: border-box;
    background: #f42267!important;
    border-radius: 35px!important;
    text-align: center;
    font-weight: 500;
}
  