input{
    width: 350px;
    height: 40px;
    background: #f06e99;
    border: 2px solid #f42267;
    border-radius: 8px;
    font-size: 12px;
    color: white!important;
    text-transform: capitalize;
    padding-left: 20px;
}
input::placeholder{
    color:white;
}

