header{
    background: url(../img/background_1.jpg)no-repeat;
    color:white;
}
.logo{
    display: block;
    padding-top: 50px; 
  }
  .main_block{
      position: relative;
      padding:20px;
  }
  .main_block_img{
      margin-left: -310px;
      margin-bottom: -20px;
  }