.main-text{
    display: block;
    margin: 50px;
    padding-top: 40px;
    
}
.italic-big {
    display: block;
    margin-bottom: 6px;
    font-size: 31px;
    font-style: italic;

}
.slogan{
    display: block;
    overflow: visible;
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
    
}
.small-text{
    font-size: 17px;
    font-weight: 600;
}