.about_company{
    background: url(../img/World_Map.jpg);
    color:#000;
    padding-top: 50px;
    padding-left: 150px;
}
.watch_img{
    position: relative;
    padding-top: 65px;
    padding-right: 100px;
    padding-left: 20px;
    margin-left: 75px;
}