.social_links{
    background: #4b2d7f;
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 600;
    display: block;
    margin:50px;
    padding: 25px 80px;
    margin-top: -50px;
}
@media (min-width:479px) and (max-width: 1169px){
    .social_links{
        margin:10px;
        margin-top: -10px;
        }
        .sosial_media_links{
            display: flex;
            flex-flow: row wrap;
            
            }
        .sosial_media_links {
            p{
                 a {
                    border-right:2px solid transparent;
                 }
            }
        }
}

    
