.social_links{
    background: #4b2d7f;
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 600;
    display: block;
    margin:50px;
    padding: 25px 80px;
    margin-top: -50px;
}