pre {
   font-size: 40px;
   color: #808080;
   letter-spacing: 5px;
   word-spacing: 40px;
}
ins + span{
    text-decoration: overline;
}

.easy{
    font-weight: 900;
}
ins > del {
    text-shadow:2px 2px 3px orange;
}
 ins > del > span{
     font-size: 35px;
 }
 .pink{
    color:rgba(230,110,194,0.5);
 }
 .invi{
     color: white;
 }
 .invi:hover{
     color:#808080;

 }
.clpink:hover{
    color: rgba(230,110,194,0.5);
 }