table{
    font-size: 45px;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
}
td{
    width: 100px;
    height: 100px;
    border: 1px solid #000;
}
.clred{
    color: red;
}
.clgrey{
    color:rgb(153, 153, 153)
}
.clorange{
    color: orange;
}    
tr:nth-child(3) td:nth-child(1){
    background-image: url(../img/vdv.jpg);
    background-size: cover;
}
tr:nth-child(4) td:nth-child(4){
    background-image: url(../img/mini_IMG_0426-Edit-2_1_0.jpg);
    background-size: cover;
}
tr:nth-child(3) td:nth-child(7){
    background-image: url(../img/cats.jpg);
    background-size: cover;
}

small{
    font-size:15px;
}
