.help_block{
    background: url(../img/needhelp_background.jpg)no-repeat;
    margin: 50px;
    margin-top:-59px;
    padding: 50px 135px;
    color:#eee;
 
}
@media (min-width:479px) and (max-width: 1169px){
    .help_block{
    margin: 10px;
    margin-top: -10px;
    padding-bottom: 25px;
    padding: 25px 65px
    }
}