.help_title{
    display: block;
    font-size: 33px;
    font-weight: 700;
    text-align: center;
}
.help_caption{
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
}
.help_text{
    display: block;
    text-align: center;
    font-size: 14px;
    padding-bottom: 34px;
}
    