.services{
    padding-bottom: 80px;
}
.about_services{
    padding:50px 80px;
}
.service_item{
    display: block;
    position: relative;
}
.left{
    padding-left: 73px;
   
}
.right{
    padding-right: 79px;
    padding-left: 4px;
}
.button{
    display: block;
    position: relative;
}