.italic_sm{
    display: block;
    margin-bottom: -16px;
}
.black_text{
    display: block;
    position: relative;
    padding-right:65px;
    font-size: 35px;
    font-weight: 700;
    line-height: 31px;
    margin-bottom: 30px;
}
.small_black_text{
    display: block;
    position: relative;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 500;
    padding-right:65px;

}
.service_item_caption{
    font-size: 24px;
    font-weight: 600;
}
.service_item_text{
    display: block;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    
}