.recent_work{
    background: #f1f1f1;
    margin:50px;
    padding:80px;
    display: block;
    align-items: center;
}
.recent_work_img{
    display: block;
    position: relative;
    box-sizing: border-box;
}