.quick_links{
    background: url(../img/World_Map.jpg);
    color:#000;
    margin: 50px;
    margin-top:-59px;
    padding: 120px 135px;
    z-index: 10;
    
}
@media (min-width:479px) and (max-width: 1169px){
    .quick_links{
    margin: 10px;
    margin-top:-10px;
    padding: 50px 0px;
    }
    ul.q-link{
        display: flex;
        flex-wrap: nowrap;
        li{
            a{
                padding-right: 15px;
            }
        }
    }
}