.logos{
    margin-bottom: 40px;
} 
.client_logo_img{
    display: block;
    width: 20%;
    padding:10px 40px;
 
}
.amazon{
    padding-top: 50px;
}
.lenovo{
    padding-top: 30px;
}
.disney{
    padding-top: 17px;
}
.apple{
    padding-left: 79px;
}
@media (min-width:479px) and (max-width: 1169px){
    .client_logo{
        margin: -10px 10px;
        padding: 50px 0px 50px;
    } 
    .client_logo_img{
       padding-left: 170px;
       
    }
}