.sosial_media_links{
    p{
        a{
            display: block;
            box-sizing: border-box;
            border-right: 2px solid #a57ee9;
            padding: 0px 25px;
            text-decoration: none;
            color: white;
        }
        
    }
}
.behance{
    p{
        a{
            border-right: 2px solid #4b2d7f;
        }
    }
    
}
@media (min-width:479px) and (max-width: 1169px){
    .sosial_media_links{
        p{
            a{
                display: block;
                box-sizing: border-box;
                border-right: 2px solid transparent;
                padding: 0px 25px;
                text-decoration: none;
                color: white;
            }
            
        }
    }
}