.out{
    width: 400px;
    height: 400px;
    background: chocolate;
    position: relative;
    top: calc(50% - 200px);
    left: calc(50% - 200px); 
     margin-top:100px ;
}
.in{
    width: 100px;
    height: 100px;
    background: greenyellow;
    position: relative;   
    font-size: 30px;
    color: #000;
    text-align: center;
    line-height: 100px;
}
.in1{


   
}
.in2{
    margin-left: -100px;
    margin-top: -200px;
}
.in3{
    margin: -100px 400px 400px 400px;
}
.in4{
    margin: 0px -100 -100px -400px ;
}